{{yield}}
<h2>{{this.title}}</h2>
<p>Simple work with Blog-Content API <a href="https://jsonplaceholder.typicode.com/" target="_blank">jsonplaceholder.typicode.com/</a></p>
<ul>
    {{#each  this.posts as |post| }}
        <li>
            <div class="row">
                <div class="col-md-12">
                    <p class="post-author"><b>Author:</b> <span class="post-name">{{post.userId.name}}</span></p>
                    <h6 class="post-title">{{post.title}}</h6>
                    {{#link-to "posts.show" post class=post.id}}
                        <span class="btn-black">Read More</span>
                    {{/link-to}}
                </div>
            </div>
            <hr>
        </li>

    {{/each}}
</ul>
