.say-hi{
  h1{
    text-align: center;
    span{
      display: block;
      font-size: 16px;
    }
  }
  iframe{
    margin: 0 auto;
    display: block;
    margin-top: 60px;
  }
}
body{
  padding-bottom: 190px;
}
ul{
  padding: 0;
}
ol{
  padding-left: 15px;
}
.page-not-found{
  text-align: center;
}
.btn-black{
  color: $white;
  background: $black;
  display: inline-block;
  padding: 5px 10px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  transition: all ease 0.3s;
  &:hover{
    background: $red;
    color: $white;
    text-decoration: none;
  }
}
.input-group{
  margin-bottom: 30px;
}
.photos{
  ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
    li{
      width: 282px;
      padding: 0 10px;
      margin-bottom: 10px;
      &:last-child{
        display: none;
      }
      img{
        width: 100%;
      }
    }
  }

}
.weathers{
  .main{
    p{
      margin: 0;
    }
  }
}
.justify-content-center{
  justify-content: center;
}