<div class="about">
    <p class="simple-text">Ember.js is an open-source JavaScript web framework, based on the Model–view–viewmodel (MVVM)
        pattern. It allows developers to create scalable single-page web applications by incorporating common idioms and
        best practices into the framework.</p>
    <h3 class="subtitle">History:</h3>
    <p>In December 2011, the SproutCore 2.0 framework was renamed to Ember.js, to reduce confusion between the
        application framework and the widget library of SproutCore 1.0 The framework was created by Yehuda Katz, a
        member of the jQuery, Ruby on Rails and SproutCore core teams. Like many of Katz's other projects, it advocates
        convention over configuration.</p>
    <h3 class="subtitle">Philosophy and design</h3>
    <p><b>From the beginning Ember was designed around several key ideas:</b></p>

    <p class="label">Focus on ambitious web applications</p>
    <p>Ember sets out to provide a wholesale solution to the client-side application problem. This is in contrast to
        many JavaScript frameworks that start by providing a solution to the V in MVC (Model–View–Controller), and
        attempt
        to grow from there.</p>
    <p class="label">More productive out of the box</p>
    <p>Ember is one component of a set of tools that work together to provide a complete development stack. The aim
        of these tools is to make the developer productive immediately. For example Ember CLI, provides a standard
        application structure and build pipeline. It also has a pluggable architecture and over 3500 addons to enhance
        and extend it.</p>
    <p class="label">Stability without stagnation</p>
    <p>This is the idea that backward compatibility is important and can be maintained while still innovating and
        evolving
        the framework.</p>
    <p class="label">Future web standards foresight</p>
    <p>Ember has been an early adopter and pioneer of many standards around JavaScript and the web including promises,
        web components and ES6 syntax. Yehuda Katz, one of Ember's founders, is a member on TC39, which is the
        committee responsible for future versions of the JavaScript language. <br>
        Like Ruby on Rails, Ember follows Convention over Configuration (CoC), and the Don't Repeat Yourself (DRY)
        principle. It has been described as a highly opinionated framework built to be very flexible.</p>
    <h3 class="subtitle">Ember is used on many popular websites:</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Discourse_(software)" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/discourse-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Groupon" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/groupon-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/LinkedIn" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/linkedIn-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Apple_Music" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/apple-music-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/ITunes" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/itunes-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Nordstrom" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/nordstrom-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Twitch.tv" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/twitch-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Vine_(service)" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/vine-min.png" alt=""></a></li>
    </ul>
</div>
{{outlet}}