<div class="about">
    <p>Ember.js is an open-source JavaScript web framework, based on the Model–view–viewmodel (MVVM) pattern. It allows developers to create scalable single-page web applications by incorporating common idioms and best practices into the framework.</p>
    <h4>Ember is used on many popular websites:</h4>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Discourse_(software)" target="_blank" rel="noopener noreferrer"><img src="assets/images/discourse-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Groupon" target="_blank" rel="noopener noreferrer"><img src="assets/images/groupon-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/LinkedIn" target="_blank" rel="noopener noreferrer"><img src="assets/images/linkedIn-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Apple_Music" target="_blank" rel="noopener noreferrer"><img src="assets/images/apple-music-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/ITunes" target="_blank" rel="noopener noreferrer"><img src="assets/images/itunes-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Nordstrom" target="_blank"  rel="noopener noreferrer"><img src="assets/images/nordstrom-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Twitch.tv" target="_blank" rel="noopener noreferrer"><img src="assets/images/twitch-min.png" alt=""></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Vine_(service)" target="_blank" rel="noopener noreferrer"><img src="assets/images/vine-min.png" alt=""></a></li>
    </ul>
</div>
{{outlet}}