<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg">
                {{#link-to "say-hi" tagName="div"}}
                    <div class="logo">
                        <a class="btn-red" href="say-hi">Ember.js by Balyk</a>
                    </div>
                {{/link-to}}

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        {{#link-to "about" tagName="li"}}
                            <a class="nav-item nav-link" href="about">About</a>
                        {{/link-to}}
                        {{#link-to "articles" tagName="li"}}
                            <a class="nav-item nav-link" href="articles">New York Times Api</a>
                        {{/link-to}}
                        {{#link-to "currencies" tagName="li"}}
                            <a class="nav-item nav-link" href="currencies">Privatbank Api</a>
                        {{/link-to}}
                        {{#link-to "photos" tagName="li"}}
                            <a class="nav-item nav-link" href="photos">Instagram Api</a>
                        {{/link-to}}
                        {{#link-to "weather" tagName="li"}}
                            <a class="nav-item nav-link" href="weather">Weather Api</a>
                        {{/link-to}}
                        {{#link-to "posts" tagName="li"}}
                            <a class="nav-item nav-link" href="posts">Blog-Content Api</a>
                        {{/link-to}}
                        {{#link-to "shop" tagName="li"}}
                            <a class="nav-item nav-link" href="shop">Shop-List</a>
                        {{/link-to}}

                    </ul>
                </div>

            </nav>
            <hr class="trick">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{liquid-outlet}}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr class="trick">
                <div class="wrapper">
                    {{#link-to "application"}}
                        <a class="btn-red" href="application">Ember.js</a>
                    {{/link-to}}
                    <p class="footer-copyright">© 2019 / with love by <a href="https://rbalyk-cv.com/" target="_blank" rel="noopener noreferrer">Roman
                        Balyk</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>