<div class="shop-list">
    <div class="row justify-content-center">
        <div class="col-md-3">
            {{shop-list title="Create Shop List" label="Your list will be automatically save" openList="Open List"}}
        </div>
    </div>
</div>
