<div class="shop-list">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h4>Create Vegetables List</h4>
            {{shop-list}}
        </div>
        <div class="col-md-4 justify-content-center">
            <h4>Create Fruits List</h4>
            {{shop-list}}
        </div>
        <div class="col-md-4 justify-content-center">
            <h4>Create Clothes List</h4>
            {{shop-list}}
        </div>
    </div>
</div>


{{outlet}}